<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
</head>
<body>
<h1>Confirmer votre Commande</h1>

<form method="post" th:action="@{/panier/checkout}" th:object="${checkoutForm}">
    <label>Addresse de Livraison:</label><br>
    <textarea th:field="*{adresseLivraison}" required></textarea><br><br>

    <label>Moyen de Paiement:</label><br>
    <select th:field="*{moyenPaiement}" required>
        <option th:each="m : ${moyens}" th:value="${m}" th:text="${m}"></option>
    </select><br><br>

    <h3>Cart Summary:</h3>
    <table border="1">
        <tr>
            <th>Dish</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr th:each="elem : ${elements}">
            <td th:text="${elem.plat.dishName}"></td>
            <td th:text="${elem.quantite}"></td>
            <td th:text="${elem.plat.price * elem.quantite} + ' MAD'"></td>
        </tr>
    </table>

    <p th:text="'Total: ' + ${total} + ' MAD'"></p>

    <button type="submit">Faire Commande</button>
</form>

<form th:action="@{/panier}" method="get">
    <button type="submit"> Revenir au Panier</button>
</form>
</body>
</html>
