<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Plats</title>
</head>
<body>
<h1>Plats</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Note</th>
        <th>Temps de préparation (min)</th>
        <th>Prix</th>
        <th>Cuisinier</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="dish : ${dishes}">
        <td th:text="${dish.id}"></td>
        <td th:text="${dish.dishName}"></td>
        <td th:text="${dish.dishRating}"></td>
        <td th:text="${dish.prepTimeMinutes}"></td>
        <td th:text="${dish.price}"></td>
        <td>
            <a th:href="@{'/cuisinier/' + ${dish.getCuisinier().getUtilisateur().getUserId()}}">
                <span th:text="${dish.getCuisinier().getUtilisateur().getNom() + ' ' + dish.getCuisinier().getUtilisateur().getPrenom()}"></span>
            </a>
        </td>

        <td>
            <th:block th:if ="${currentUser != null and currentUser.getClientProfile() != null}">
                <a th:if="${dish.cuisinier.utilisateur.userId == currentUser.userId}" th:href="@{'/dishes/edit/' + ${dish.id}}">Modifier |</a>
                <a th:if="${dish.cuisinier.utilisateur.userId == currentUser.userId}" th:href="@{'/dishes/delete/' + ${dish.id}}">Supprimer |</a>
                <a th:if="${dish.cuisinier.utilisateur.userId != currentUser.userId}" th:href="@{'/ReviewDish/dish/' + ${dish.id} + '/add'}">Ajouter Critique</a>
                <form th:if="${dish.cuisinier.utilisateur.userId != currentUser.userId}" th:action="@{/panier/increment}" method="post" style="display:inline">
                    <input type="hidden" name="dishId" th:value="${dish.id}" />
                    <button type="submit">Ajouter au panier</button>
                </form>
            </th:block>
            <a th:href="@{'/ReviewDish/dish/' + ${dish.id}}">Voir Critiques</a>


        </td>
    </tr>
    </tbody>
</table>

<br/>

<th:block th:if ="${currentUser != null and currentUser.getClientProfile() != null}">
    <form th:action="@{/panier}" method="get">
        <button type="submit"> Voir Panier</button>
    </form>
    <a th:if="${currentUser.getCuisinierProfile()!=null}" href="/dishes/add">Ajouter un plat</a>
</th:block>

</body>
</html>
