<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifier Plat</title>
</head>
<body>
<h2>Modifier Plat</h2>
<form th:action="@{'/dishes/edit/' + ${plat.id}}" th:object="${plat}" method="post">
    <label>Nom:</label>
    <input type="text" th:field="*{dishName}" />
    <div th:if="${#fields.hasErrors('dishName')}" th:errors="*{dishName}"></div>

    <label>Temps de préparation:</label>
    <input type="number" step="1" th:field="*{prepTimeMinutes}" />
    <div th:if="${#fields.hasErrors('prepTimeMinutes')}" th:errors="*{prepTimeMinutes}"></div>

    <label>Prix:</label>
    <input type="number" step="0.01" th:field="*{price}" />
    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>

    <button type="submit">Update</button>
</form>
<a href="/dishes">Back</a>
</body>
</html>
