<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>S'enregistrer</title>
</head>
<body>
<h1>S'enregistrer</h1>
<form th:action="@{/signup}" method="post" th:object="${signupRequest}">
    <label>Nom: <input type="text" th:field="*{nom}" /></label><br>
    <label>Prenom: <input type="text" th:field="*{prenom}" /></label><br>
    <label>Adresse: <input type="text" th:field="*{adresse}" /></label><br>
    <label>Email: <input type="email" th:field="*{email}" /></label><br>
    <label>Telephone: <input type="text" th:field="*{telephone}" /></label><br>
    <label>Mot de Passe: <input type="password" th:field="*{password}" /></label><br>
    <button type="submit">S'enregistrer</button>
</form>
</body>
</html>
